<!DOCTYPE html>
<html>
	<head>
	  <title>Boardprep2</title>
	  <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
<body>

<script>
	$(function(){
		$("#container").mixItUp(); 
		$(".pop").tooltip();
			$(".poop").popover();
		$(".tint").click(function () {
		   $(".darker").toggleClass("desaturate");
		  });
		$('#sorter').affix({
		    offset: {
		        top: 125
		    }
		});
	});
</script>	

<%= render "layouts/sort_nav" %>
<div class="container">
	<%= render "layouts/shared/flash" %>
	<%= yield %>
</div>
<%= render "layouts/footer" %>

</body>
</html>
