<!DOCTYPE html>
<html>
	<head>
	  <title>Boardprep2</title>
	  <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
<body>

<script>
	$(function(){
		$("#container").mixItUp(); 
		$(".pop").tooltip();
			$(".poop").popover();
		$(".tint").click(function () {
		   $(".darker").toggleClass("desaturate");
		  });
		$('#sorter, .lilnav').affix({
		    offset: {
		        top: 125
		    }
		});
	});
</script>	


<%= render "layouts/sort_nav" %>
<% if admin_signed_in? && !current_page?(root_path) %>
	<%= render "layouts/liladmin" %>
<% end %>

	<div class="container">
		<div clas="row">
			<%= render "layouts/flash" %>
			<%= yield %>
		</div>
	</div>
	<%= render "layouts/footer" %>

</body>
</html>

