<h1>List of Members</h1>

<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<table class="table table-striped">	
					<tr>
						<th>Photo</th>
						<th>Name</th>
						<th>Title</th>
						<th>Sort</th>
						<th></th>
					</tr>
				<tbody>
					<% @members.each do |member| %>
						<tr valign="center">
							<td><%= image_tag member.photo.url, class: "thumbnail" %></td>
							<td><strong><%= member.name %></strong></td>
							<td><strong><%= member.title %></strong></td>
							<td><strong><%= member.sort %></strong></td>
							<td>
								<div class="btn-group">
									<%= link_to edit_member_path(member) do %>
										<button type="button" class="btn btn-default btn-sm">Edit</button>
									<% end %>
									<%= link_to member, method: :delete, data: { confirm: 'Are you sure?' } do %>
										<button type="button" class="btn btn-default btn-sm">Delete</button>
									<% end %>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
    </div>
    <div class="col-md-3">
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<h3 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Heads-up</h3>
    		</div>
    		<div class="panel-body">
    			<p>When a new Board Member is added he/she will be shown on the <%= link_to "Sort List Page", root_path %> and in the table to the left. Any edits, updates or deletions will be reflected in both places.</p>
				<p>The list to left allows you to edit, update, delete and add new Board Members.</p>
				<hr>
                <p><strong>Note:</strong> If, after any activity in the admin area, you navigate to the home page and no images show up, simply refresh the page to fix it.</p>
    		</div>
    		<div class="panel-footer text-center">
    			<div class="btn-group">
                        <%= link_to new_member_path do %>
              				<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New Member</button>
           			    <% end %>
           			    <%= link_to root_path do %>
              				<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> Sort List</button>
           			    <% end %>
    		    </div>
    		</div>
    	</div>
    </div>
</div>
